body{ 
    background:linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(2, 0, 166, 1));
}

.container__logo {
    position: absolute;
    top: 0;
    left: 0;
}

.container__imagem {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}


.container__frase_apresentacao {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-20%, -20%);
    text-align: left;
    text-align: center;
}

.container__botoes {
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container__botoes button{
    margin-top: 1.5rem;
    width: 15rem;
    padding: 0.4rem;
    font-size: 1rem;
    border: 2px solid transparent;
    animation: border-rotation 3s infinite linear;
    border-radius: 1rem;
    background-color:#0b4da8;;
    color: white;
    transition: transform 0.3s;
}

@keyframes border-rotation {
    0% {
        border-color: rgb(255, 255, 255);
    }
    25% {
        border-color: #0b4da8;
    }
    50% {
        border-color: rgb(255, 255, 255);
    }
    75% {
        border-color: #0b4da8;
    }
    100% {
        border-color: rgb(255, 255, 255);
    }
}

.container__botoes button:hover {
    transform: scale(1.2);
    background-color: #4c91f1;
}