
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  
}

body{ 
    background:linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(2, 0, 166, 1));
}

.container__logo {
    position: absolute;
    top: 0;
    left: 0;
}

.container__imagem {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}


.container__frase_apresentacao {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-20%, -20%);
    text-align: left;
    text-align: center;
}

.container__botoes {
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container__botoes button{
    margin-top: 1.5rem;
    width: 15rem;
    padding: 0.4rem;
    font-size: 1rem;
    border: 2px solid transparent;
    animation: border-rotation 5s infinite linear;
    border-radius: 1rem;
    background-color:#0b4da8;;
    color: white;
    transition: transform 0.5s;
}

@keyframes border-rotation {
    0% {
        border-color: rgb(255, 255, 255);
    }
    25% {
        border-color: #0b4da8;
    }
    50% {
        border-color: rgb(255, 255, 255);
    }
    75% {
        border-color: #0b4da8;
    }
    100% {
        border-color: rgb(255, 255, 255);
    }
}

.container__botoes button:hover {
    transform: scale(1.2);
    background-color: #4c91f1;
}


.menu-lateral {
    display: flex;
    flex-direction: column;
}

.menu-lateral__navegacao{
    margin-top: 140px;
}
.menu-lateral__navegacao a {
    display: flex;
    align-items: center;
    padding: 2px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-bottom: -40px;
}

.menu-lateral__navegacao a img {
    width: 80px; /* Ajuste o tamanho conforme necessário */
    height: 80px; /* Ajuste o tamanho conforme necessário */
}




.centered-image {
    margin-right: 1rem; /* Ajuste o valor conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -4rem;
}

.apresentacao {
    display: flex;
    justify-content:end;
    flex-direction:column;
    text-align: center;
    color: white;
    margin-top: -15rem;
    margin-left: 60rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.titulo {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.competencias {
    position:relative;
    bottom: 19px; /* Ajuste a distância do fundo conforme necessário */
    left: 30%; /* Posiciona a div centralizada horizontalmente */
    transform: translateX(-10%); /* Centraliza a div corretamente */
    text-align: left; /* Alinha o texto à esquerda */
    color: white;
    margin-bottom: 8rem;
}

.competencias ul {
    list-style-type:disclosure-closed; /* Define o tipo de marcador como bolinhas */
}

.competencias ul li {
    break-inside: avoid-column; /* Evita que as <li> sejam quebradas entre as colunas */
    font-size: 1.5rem;
}


.cabecalho {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -12rem;
    margin-right: 3rem;
}

.cabecalho__busca {
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(40deg, #4c91f1,#0b4da8);
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 3px;
    width: auto;
  
}

.busca__fundo {
    background-color: white;
    border-radius: 18px;
    padding: 5px;
}

.busca__input-wrapper {
    display: flex;
    align-items: center;
}

.busca__input {
    border: none;
    background: none;
    padding: 5px;
    outline: none;
    width: 300px;
}

.button__buscar {
    background: none;
    border: none;
    padding: 0;
    margin-left: 5px;
}

.busca__icone {
    width: 30px;
    height: 30px;
}



.tags {
    padding: 1.5rem 0;
    display: flex;
    justify-content: center; /* Adicionado para centralizar horizontalmente */
    color: #D9D9D9;
    font-size: 1.3rem;
    margin-top: 10rem;
}


.tags__titulo {
    margin-right: 1rem;
    margin-top: 1.5rem;
}

.tags__lista {
    display: flex;
    list-style: none;
}

.tags__tag {
    margin-right: 3rem;
    border-radius: 20px;
    padding: .2rem .9rem;
    width: 120px;
    text-align: center;
    border: 2px solid transparent;
   
    
}

.tags__tag:hover {
    border: 2px solid #ffffff;
    cursor: pointer;
}

.btn{
    color: #ffffff;
    text-decoration:none;
    font-weight: bold;
}




.cards {
    width: 100%;
}

.cards__titulo {
    color: #0b4da8;
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
    margin-left: 5rem;
}

.cards__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 5px 5px #0b4da8;
    color: #FFFFFF;
    position: relative;
    width: 400px;
    margin: 5rem;
    list-style: none;
}


.card__imagem {
    width:400px; 
    height: 300px;
    border-radius: 10px 10px 0 0;
}

.card__tag {
    background-color: #0b4da8;
    border-radius: 8px;
    border: 2px solid transparent;
    font-size: 1.2rem;
    left: 280px;
    margin-right: 1.5rem;
    padding: .2rem .6rem;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 80px;
}

.card__info {
    font-size: 1.2rem;
    padding: 0 1.5rem 1rem 1.5rem;
    margin: 0.2rem;
}

.card__titulo {
    font-weight: bold;
    line-height: 1.2rem;
    margin-top: 0.8em;
}

.card__texto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card__texto img {
    cursor: pointer;
}

.card__descricao {
    font-size: 0.6em;
    margin-top: 1em;
}

.galeria {
    display: flex;
    justify-content: center;
    width: 100%;
}


.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
}

.imagem__conteudo {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0 0;
    width: 950px;
}

.imagem__imagem {
    width: 80%;
    border-radius: 20px;
}

.imagem__info {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.imagem__texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    margin-top: 0.5rem;
}

.imagem__titulo {
    font-weight: bold;
    line-height: 1.5rem;
    color: #FFFFFF;
}

.imagem__texto {
    font-size: 1.2rem;
}

.imagem__descricao {
    font-size: 1.2rem;
}



footer {
    background-color: #004aad;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0;
    margin-top: 0rem;
}
  
.social-icons{
    margin-left: 3rem;

}
.social-icons img {
    width: 48px;
    margin-right: 10px;
}
  
.social-icons a:last-child {
    margin-right: 0;
}
  
.social-icons a img:hover {
    opacity: 0.7;
}
  
.social-icons a img {
    transition: opacity 0.3s ease-in-out;
}
  
  
.copyright {
    font-size: 14px;
    color: #ffffff;
    margin-right: 4rem;
}