{% load static %}

<footer>
  <div class="social-icons">
    <a href="https://www.instagram.com/seu_perfil" target="_blank">
      <img src="{% static 'assets/icones/instagram_icone.png' %}" alt="Instagram">
    </a>
    <a href="https://www.github.com/seu_perfil" target="_blank">
      <img src="{% static 'assets/icones/git.png' %}" alt="GitHub">
    </a>
    <a href="https://www.linkedin.com/in/seu_perfil" target="_blank">
        <img src="{% static 'assets/icones/linkedin.png' %}"alt="LinkedIn">
    </a>
  </div>
  <div class="copyright">
    &copy; 2023 Vinicius Alexandre. Todos os direitos reservados.
  </div>
</footer>
