{% extends "base.html" %}
{% load static %}
{% block content %}


<header class="cabecalho">
    <div class="cabecalho__busca">
        <div class="busca__fundo">
            <form action="#">
                <div class="busca__input-wrapper">
                    <input class="busca__input" type="text" name="buscar" placeholder="O que você procura?">
                    <button type="submit" class="button__buscar">
                        <img class="busca__icone" src="{% static '/assets/icones/search.png' %}" alt="ícone de search">
                    </button>
                </div>
            </form>
        </div>
    </div>
</header>
<section class="tags">
    <p class="tags__titulo">Busque por tags:</p>
    <ul class="tags__lista">
        <li class="tags__tag" style="background-color: #0b4da8;"><a href="#" class="btn animacao-mexer ">Python</a></li>
        <li class="tags__tag" style="background-color: #7b7d80;"><a href="#" class="btn animacao-mexer">PHP</a></li>
        <li class="tags__tag" style="background-color: #0b4da8;"><a href="#" class="btn animacao-mexer">Django</a></li>
        <li class="tags__tag" style="background-color:  #7b7d80;"><a href="#" class="btn animacao-mexer">Outros</a></li>
    </ul>
</section>
<section class="galeria">
    <div class="cards">
        <h2 class="cards__titulo">Navegue pelos trabalhos</h2>
        <ul class="cards__lista">
            <li class="card">
                <a href="{% url 'conteudo' %}">
                    <img class="card__imagem" src="{% static '/assets/conteudo/exemplo.jpg' %}" alt="foto">
                </a>
                <span class="card__tag">categoria</span>
                <div class="card__info">
                    <p class="card__titulo">nome</p>
                    <div class="card__texto">
                        <p class="card__descricao">legenda</p>
                        <span>
                            <img src="{% static '/assets/icones/favorite_outline.png'  %}" alt="ícone de coração">
                        </span>
                    </div>
                </div>
            </li>
            <li class="card">
                <a href="{% url 'conteudo' %}">
                    <img class="card__imagem" src="{% static '/assets/conteudo/exemplo.jpg' %}" alt="foto">
                </a>
                <span class="card__tag">categoria</span>
                <div class="card__info">
                    <p class="card__titulo">nome</p>
                    <div class="card__texto">
                        <p class="card__descricao">legenda</p>
                        <span>
                            <img src="{% static '/assets/icones/favorite_outline.png'  %}" alt="ícone de coração">
                        </span>
                    </div>
                </div>
            </li>
            <li class="card">
                <a href="{% url 'conteudo' %}">
                    <img class="card__imagem" src="{% static '/assets/conteudo/exemplo.jpg' %}" alt="foto">
                </a>
                <span class="card__tag">categoria</span>
                <div class="card__info">
                    <p class="card__titulo">nome</p>
                    <div class="card__texto">
                        <p class="card__descricao">legenda</p>
                        <span>
                            <img src="{% static '/assets/icones/favorite_outline.png'  %}" alt="ícone de coração">
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>





{% endblock %}